/* ContactForm.css */

.contact-form-container {
  background-color: rgba(240, 245, 245, 0.9); /* Fondo gris claro semi-transparente */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #3C2713; /* Contorno marrón CJA */
}

.form-title {
  text-align: center;
  color: #0c3553; /* Azul CJA */
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 600;
  color: #0c3553; /* Azul CJA */
}

.form-control-custom {
  border-radius: 8px;
  border: 1px solid #3C2713; /* Marrón CJA */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-control-custom:focus {
  border-color: #0c3553; /* Azul CJA */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.submit-button {
  background-color: #3C2713; /* Marrón CJA */
  border: none;
  border-radius: 8px;
  font-weight: 600;
  padding: 12px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0c3553; /* Azul CJA */
}

.submit-button:focus {
  outline: none;
}

@media (max-width: 768px) {
  .contact-form-container {
    padding: 20px;
  }

  .form-title {
    font-size: 20px;
  }

  .submit-button {
    padding: 12px;
  }
}